<div class="container-fluid top-bar card">
  <div class="row">
    <div class="col-md-4 col-xs-12 hidden-xs">
      <img mat-card-image src="../../../assets/logo.png" alt="" height="70" width="auto">
    </div>
    <div class="col-md-4 col-xs-12 text-center visible-xs">
      <img mat-card-image src="../../../assets/logo.png" alt="" height="70" width="auto">
    </div>
    <div class="col-md-4 col-xs-12">
      <h1 class="text-center">Aplicação Teste para estudo</h1>
    </div>
    <div class="col-md-4 col-xs-12">
    </div>
  </div>
</div>
